<!DOCTYPE html>
html(lang="en")
    head
        title Get Title
    body
        h1 Following are the titles of given websites:
        ul
            each val in titlesList
                li= val.url+' - \"'+val.title+'\"'